/**
 * Main CSS for the site
 */

/* Import all the things */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Declare Global CSS vars */
:root {
    --main-bg-color: lightcoral;
    --main-font-color: #333333;
    --second-font-color: purple;
    --second-bg-color: white;
    --modal-bg-color: rgba(0,0,0,0.6);
    --third-bg-color: cyan;
    --fourth-bg-color: violet;
}

/* Reset all the things */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
    background: var(--main-bg-color);
}

.request-window {
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
    align-content: center;
}

.request-header {
    background: var(--second-bg-color);
}

.request-header > h2 {
    text-align: center;
}

.request-description-wrapper {
    background: var(--third-bg-color);
    padding: 5%;
}

.request-description {
    background: var(--fourth-bg-color);
}

.request-footer {
    background: var(--second-bg-color);
}

/* The Modal (background) */
/* Hidden by default, once loaded it should stick in place on top of page - takes up entire screen and auto scrolls */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    /* Location of the box - change this with media query later */
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color); 
}
  
/* Modal Content */
.modal-content {
    background-color: var(--main-bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--main-font-color);
    width: 80%;
}
  
  /* The Close Button in the Modal */
.closeRequest {
    color: var(--main-font-color);
    /* maybe flex box this once the items populate - float for now */
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeRequest:hover, .closeRequest:focus {
    color: var(--second-font-color);
    text-decoration: none;
}