/**
 * Main CSS for the site
 */

/* Import all the things */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Declare Global CSS vars */
:root {
    --main-bg-color: lightcoral;
    --main-font-color: #333333;
    --second-bg-color: white;
    --third-bg-color: cyan;
    --fourth-bg-color: violet;
}

/* Reset all the things */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
    background: var(--main-bg-color);
}

.request-window {
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
    align-content: center;
}

.request-header {
    background: var(--second-bg-color);
}

.request-header > h2 {
    text-align: center;
}

.request-description-wrapper {
    background: var(--third-bg-color);
    padding: 5%;
}

.request-description {
    background: var(--fourth-bg-color);
}

/* align-content: flex-start */